<div class="ride_monitor">
<% new_or_existing = ride_monitor.new_record? ? 'new' : 'existing' %>
<% prefix = "ride[#{new_or_existing}_ride_monitor_attributes][]" %>

<% fields_for prefix, ride_monitor do |ride_monitor_form| -%>
	<p>
		Ride Monitor: <%= ride_monitor_form.text_field :email %>
		<%= link_to_function "remove", "$(this).up('.ride_monitor').remove()" %>
	</p>
<% end -%>	
</div>


