<% if @ride.status == Ride::CHECKED_IN %>
	<% javascript_tag do %>
		function recordTrack(latitude, longitude) {
			//var msg = "Latitude: " + latitude + ", Longitude: " + longitude;
			//alert(msg);
  			
  		$.get('/rides/<%= @ride.id %>/update_pos/',
  		    {'lat' : latitude, 'lon': longitude}
      );			
		}
		//$.get('toapp://ensureTracking');
		window.location.replace("toapp://ensureTracking");
	  
	<% end %>
<% end %>
<div>
	<% if @ride.status == Ride::CHECKED_IN	%>
		<p><%= @ride.created_at.strftime("You have checked in at %I:%M%p") %></p>
		<%= link_to "Check out", :action => :check_out, :id => @ride.id %>
	<% end %>
	<% if @ride.status == Ride::CHECKED_OUT %>
		<p>You have checked out</p>
		<%= link_to "Check in", :action => :new %>
	<% end %>
	<input type="button" value="Reload Page" onClick="window.location.reload()">
</div>
